  .flex-container {
    display: inline-block;
    position: relative;
    background-image: url(../Pictures/abonsbackground.jpg);
    background-size: 100%;
    color: white;
    text-align: center;
    margin-top: 50px;
    line-height: 2;
  }
  
  .aboncontainer {
    display: inline-block;
    text-align: center;
    line-height: 1.5;
    width: 28%;
    margin-top: 20px;
  }

  .abonement {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* margin-bottom: 20px; */
  }
  .abonimagecontainer{
    height: 70%;
    margin: auto;
    width: 80%;
  }

  .title{
    font-family: 'Downcome';
    letter-spacing: normal;
    transform: scaleX(1.5);
    font-style: italic;
    font-size: 35px;
  }
  .text1{
    font-size: 1.05rem;
    width: 300px;
    line-height: 1;
    margin: auto;
  }
  .text2{
    font-size: 1.05rem;
    margin: auto;
    padding-top: 5px;
    width: 300px;
  }
  .bottom{
    width: fit-content;
    padding: 0 5px 0 5px;
    margin: auto;
    margin-top: 10px;
    background: linear-gradient(180deg, rgba(52,52,52,1) 5%, rgba(10,234,9,1) 100%);
    border-radius: 7px;
    color: black;
    font-size: 25px;
    font-family: 'Downcome';
    letter-spacing: normal;
    transform: scaleX(1.5);
    /* font-style: italic; */
  }
.contbottom{
  width: 70%;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
  .contbottomtexttitle{
    font-size: 30px;
  }
  
  .contbottomtext{
    font-size: 15px;
  }







  @media only screen and (max-width: 1000px) {
    .aboncontainer {
      line-height: 1.9;
      width: 40%;
      margin-top: 0px;
    }
    .abonimagecontainer{
      height: 80px;
      margin: auto;
      width: 90%;
    }
  .title{
    font-size: 15px;
    width: fit-content;
    margin: auto;
    right: 0;
    left: 0;
  }
  .text1{
    font-size: 10px;
    width: 150px;
  }
  .text2{
    font-size: 10px;
    width: 150px;
  }
  .bottom{
    font-size: 15px;
  }
.contbottom{
  width: 70%;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
  .contbottomtexttitle{
    font-size: 20px;
  }
  
  .contbottomtext{
    font-size: 10px;
  }
}