*{
	font-family: 'Uni Sans';
}
.footer-distributed a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgb(255 255 255 / 30%);
    font-size: 1.35em;
}
.footer-distributed body{
	background-color: black;
}

	.footer-distributed {
		background: linear-gradient(180deg, rgba(0,0,0,1) 71%, rgba(29,120,6,1) 100%);
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
		box-sizing: border-box;
		width: 100%;
		text-align: center;
		height: auto;
		margin: auto;
		padding: 55px 50px;
		line-height: 1;
	}

	.footertop1{
		font-size: 55px;
		width: fit-content;
		margin: auto;
		margin-bottom: 10px;
		right: 0;
		left: 0;
		transform: scaleX(1.5) skewX(6deg);
		font-style: italic;
		letter-spacing: 1px;
		color: white;
		text-align: center !important;
		font-family: 'Downcome';
	}
	.footertop2{
		margin: auto;
		width: fit-content;
		right: 0;
		left: 0;
		margin-bottom: 40px;
		transform: scaleX(1.5) skewX(6deg);
		font-size: 55px;
		letter-spacing: 1px;
		font-style: italic;
		color: white;
		text-align: center !important;
		font-family: 'Downcome';
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		display: inline-block;
		width: fit-content;
		/* width: 20%; */
		text-align: center;
		margin: 0 33px 0 33px;
		vertical-align: middle;
	}

	/* Footers */
	.footerlogoimage{
		width: 90px;
	}
	.publicdoc{
		text-decoration: none;
		font-size: 22px;
	}
	.address {
		font-size: 22px;
		color: white;
	}
	.phonenumber{
		color: white;
		font-size: 22px;
		margin-bottom: 0px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 43px;
		margin: 0 0 0 13px;
		transition: 0.2s;
	}
	.hi-icon:hover {
		transform: scale(0.99);
		border: 2px solid white;
		border-radius: 60px;
		padding: 1.5px;
		transition: 0.2s;
	}
	.footerline{
		width: 80%;
		margin-top: 20px;
	}
	.footer-bottom{
		text-align: center;
		vertical-align: bottom;	
		margin-top: 3%;
	}

	.footer-distributed .footer-company-name {
		color: white;
		font-size: 20px;
		font-weight: normal;
		margin: 0;
	}

	/* Footer Right */
	.footer-distributed .footer-company-about {
		color: #92999f;
		font-size: 20px;
		font-weight: normal;
	}
	.footer-distributed .footer-company-about span {
		display: block;
		color: #ffffff;
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 1%;
	}
	.map {
		position: relative;
	}
@media only screen and (max-width: 1500px) {
	.footertop1{
		font-size: 53px;
	}
	.footertop2{
		font-size: 53px;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		margin: 0 32px 0 32px;
	}
	/* Footers */
	.footerlogoimage{
		width: 90px;
	}
	.publicdoc{
		font-size: 21px;
	}
	.address {
		font-size: 21px;
	}
	.phonenumber{
		font-size: 21px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 40px;
		margin: 0 0 0 13px;
	}
}
@media only screen and (max-width: 1450px) {
	.footertop1{
		font-size: 51px;
	}
	.footertop2{
		font-size: 51px;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		margin: 0 31px 0 31px;
	}
	/* Footers */
	.footerlogoimage{
		width: 90px;
	}
	.publicdoc{
		font-size: 20px;
	}
	.address {
		font-size: 20px;
	}
	.phonenumber{
		font-size: 20px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 38px;
		margin: 0 0 0 13px;
	}
}
@media only screen and (max-width: 1400px) {
	.footertop1{
		font-size: 49px;
	}
	.footertop2{
		font-size: 49px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		margin: 0 30px 0 30px;
	}

	/* Footers */
	.footerlogoimage{
		width: 90px;
	}
	.publicdoc{
		font-size: 19px;
	}
	.address {
		font-size: 19px;
	}
	.phonenumber{
		font-size: 19px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 36px;
		margin: 0 0 0 13px;
	}
}
@media only screen and (max-width: 1350px) {
	.footertop1{
		font-size: 47px;
	}
	.footertop2{
		font-size: 47px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		margin: 0 29px 0 29px;
	}

	/* Footers */
	.footerlogoimage{
		width: 90px;
	}
	.publicdoc{
		font-size: 18px;
	}
	.address {
		font-size: 18px;
	}
	.phonenumber{
		font-size: 18px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 34px;
		margin: 0 0 0 13px;
	}
}
@media only screen and (max-width: 1300px) {
	.footertop1{
		font-size: 45px;
	}
	.footertop2{
		font-size: 45px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		margin: 0 28px 0 28px;
	}

	/* Footers */
	.footerlogoimage{
		width: 85px;
	}
	.publicdoc{
		font-size: 17px;
	}
	.address {
		font-size: 17px;
	}
	.phonenumber{
		font-size: 17px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 32px;
		margin: 0 0 0 12px;
	}
}
@media only screen and (max-width: 1250px) {
	.footertop1{
		font-size: 43px;
	}
	.footertop2{
		font-size: 43px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		margin: 0 27px 0 27px;
	}

	/* Footers */
	.footerlogoimage{
		width: 83px;
	}
	.publicdoc{
		font-size: 16px;
	}
	.address {
		font-size: 16px;
	}
	.phonenumber{
		font-size: 16px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 31px;
		margin: 0 0 0 12px;
	}
}
@media only screen and (max-width: 1200px) {
	.footertop1{
		font-size: 41px;
	}
	.footertop2{
		font-size: 41px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		margin: 0 26px 0 26px;
	}

	/* Footers */
	.footerlogoimage{
		width: 81px;
	}
	.publicdoc{
		font-size: 15px;
	}
	.address {
		font-size: 15px;
	}
	.phonenumber{
		font-size: 15px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 30px;
		margin: 0 0 0 12px;
	}
}
@media only screen and (max-width: 1150px) {
	.footertop1{
		font-size: 39px;
	}
	.footertop2{
		font-size: 39px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		margin: 0 25px 0 25px;
	}

	/* Footers */
	.footerlogoimage{
		width: 79px;
	}
	.publicdoc{
		font-size: 14px;
	}
	.address {
		font-size: 14px;
	}
	.phonenumber{
		font-size: 14px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 29px;
		margin: 0 0 0 12px;
	}
}
@media only screen and (max-width: 1100px) {
	.footertop1{
		font-size: 37px;
	}
	.footertop2{
		font-size: 37px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		margin: 0 24px 0 24px;
	}

	/* Footers */
	.footerlogoimage{
		width: 77px;
	}
	.publicdoc{
		font-size: 13px;
	}
	.address {
		font-size: 13px;
	}
	.phonenumber{
		font-size: 13px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 28px;
		margin: 0 0 0 12px;
	}
}
@media only screen and (max-width: 1050px) {
	.footertop1{
		font-size: 35px;
	}
	.footertop2{
		font-size: 35px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		margin: 0 23px 0 23px;
	}

	/* Footers */
	.footerlogoimage{
		width: 75px;
	}
	.publicdoc{
		font-size: 12px;
	}
	.address {
		font-size: 12px;
	}
	.phonenumber{
		font-size: 12px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 27px;
		margin: 0 0 0 12px;
	}
}
@media only screen and (max-width: 1000px) {
	.footertop1{
		font-size: 33px;
	}
	.footertop2{
		font-size: 33px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		margin: 0 21px 0 21px;
	}

	/* Footers */
	.footerlogoimage{
		width: 73px;
	}
	.publicdoc{
		font-size: 11px;
	}
	.address {
		font-size: 11px;
	}
	.phonenumber{
		font-size: 11px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 26px;
		margin: 0 0 0 12px;
	}
}
@media only screen and (max-width: 950px) {
	.footertop1{
		font-size: 31px;
	}
	.footertop2{
		font-size: 31px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		margin: 0 18px 0 18px;
	}

	/* Footers */
	.footerlogoimage{
		width: 71px;
	}
	.publicdoc{
		font-size: 10px;
	}
	.address {
		font-size: 10px;
	}
	.phonenumber{
		font-size: 10px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 25px;
		margin: 0 0 0 12px;
	}
}
@media only screen and (max-width: 900px) {
	.footertop1{
		font-size: 29px;
	}
	.footertop2{
		font-size: 29px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		margin: 0 16px 0 16px;
	}

	/* Footers */
	.footerlogoimage{
		width: 69px;
	}
	.publicdoc{
		font-size: 9px;
	}
	.address {
		font-size: 9px;
	}
	.phonenumber{
		font-size: 9px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 24px;
		margin: 0 0 0 12px;
	}
}
@media only screen and (max-width: 850px) {
	.footertop1{
		font-size: 27px;
	}
	.footertop2{
		font-size: 27px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		margin: 0 14px 0 14px;
	}

	/* Footers */
	.footerlogoimage{
		width: 67px;
	}
	.publicdoc{
		font-size: 8.5px;
	}
	.address {
		font-size: 8.5px;
	}
	.phonenumber{
		font-size: 8.5px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 23px;
		margin: 0 0 0 11px;
	}
}
@media only screen and (max-width: 800px) {
	.footertop1{
		font-size: 25px;
	}
	.footertop2{
		font-size: 25px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		margin: 0 13px 0 13px;
	}

	/* Footers */
	.footerlogoimage{
		width: 65px;
	}
	.publicdoc{
		font-size: 8px;
	}
	.address {
		font-size: 8px;
	}
	.phonenumber{
		font-size: 8px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 22px;
		margin: 0 0 0 11px;
	}
}
@media only screen and (max-width: 750px) {
	.footertop1{
		font-size: 23px;
	}
	.footertop2{
		font-size: 23px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		margin: 0 12px 0 12px;
	}

	/* Footers */
	.footerlogoimage{
		width: 63px;
	}
	.publicdoc{
		font-size: 7.5px;
	}
	.address {
		font-size: 7.5px;
	}
	.phonenumber{
		font-size: 7.5px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 20px;
		margin: 0 0 0 10px;
	}
}
@media only screen and (max-width: 700px) {
	.footertop1{
		font-size: 21px;
	}
	.footertop2{
		font-size: 21px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		margin: 0 10px 0 10px;
	}

	/* Footers */
	.publicdoc{
		font-size: 7px;
	}
	.address {
		font-size: 7px;
	}
	.phonenumber{
		font-size: 7px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 18px;
		margin: 0 0 0 9px;
	}
}
@media only screen and (max-width: 650px) {
	.footertop1{
		font-size: 21px;
	}
	.footertop2{
		font-size: 21px;
		margin-bottom: 10px;
	}
	.footerlogoimage{
		display: none;
	}
	.footer-distributed{
		padding: 40px 20px;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		display: block;
		width: 100%;
		text-align: center;
		margin: 0;
		height: 100%;
		padding: 15px 10px;
	}

	/* Footers */
	.publicdoc{
		font-size: 25px;
	}
	.address {
		font-size: 25px;
	}
	.phonenumber{
		font-size: 25px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 40px;
		margin: 0 0 0 10px;
	}
}
@media only screen and (max-width: 600px) {
	.footertop1{
		font-size: 19px;
	}
	.footertop2{
		font-size: 19px;
	}

	/* Footers */
	.publicdoc{
		font-size: 23px;
	}
	.address {
		font-size: 23px;
	}
	.phonenumber{
		font-size: 23px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 38px;
		margin: 0 0 0 10px;
	}
}
@media only screen and (max-width: 550px) {
	.footertop1{
		font-size: 17px;
	}
	.footertop2{
		font-size: 17px;
	}

	/* Footers */
	.publicdoc{
		font-size: 20px;
	}
	.address {
		font-size: 20px;
	}
	.phonenumber{
		font-size: 20px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 40px;
		margin: 0 0 0 13px;
	}
}
@media only screen and (max-width: 500px) {
	.footertop1{
		font-size: 15px;
	}
	.footertop2{
		font-size: 15px;
	}

	/* Footers */
	.publicdoc{
		font-size: 18px;
	}
	.address {
		font-size: 18px;
	}
	.phonenumber{
		font-size: 18px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 38px;
		margin: 0 0 0 12px;
	}
	.footer-distributed .footer-company-about {
		width: 70%;
		margin: auto;
		font-size: 10px;
		line-height: 1.3;
	}

	.footer-distributed .footer-company-name {
		font-size: 10px;
	}
	.footer-distributed .footer-company-about span {
		font-size: 14px;
	}
}
@media only screen and (max-width: 430px) {
	.footertop1{
		font-size: 13px;
	}
	.footertop2{
		font-size: 13px;
	}

	/* Footers */
	.publicdoc{
		font-size: 17px;
	}
	.address {
		font-size: 17px;
	}
	.phonenumber{
		font-size: 17px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 37px;
		margin: 0 0 0 12px;
	}
}
@media only screen and (max-width: 400px) {
	.footertop1{
		width: 65%;
		font-size: 20px;
	}
	.footertop2{
		width: 65%;
		font-size: 20px;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		padding: 12px 10px;
	}
	/* Footers */
	.publicdoc{
		font-size: 16px;
	}
	.address {
		font-size: 16px;
	}
	.phonenumber{
		font-size: 16px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 35px;
		margin: 0 0 0 11px;
	}
}
@media only screen and (max-width: 350px) {
	.footertop1{
		width: 75%;
		font-size: 20px;
	}
	.footertop2{
		width: 60%;
		font-size: 20px;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-left-center,
	.footer-distributed .footer-center,
	.footer-distributed .footer-center-right,
	.footer-distributed .footer-right {
		padding: 10px 10px;
	}
	/* Footers */
	.publicdoc{
		font-size: 15px;
	}
	.address {
		font-size: 15px;
	}
	.phonenumber{
		font-size: 15px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 34px;
		margin: 0 0 0 10px;
	}
}
@media only screen and (max-width: 325px) {
	.footertop1{
		width: 70%;
		font-size: 20px;
	}
	.footertop2{
		width: 60%;
		font-size: 20px;
	}
}


@font-face {
	font-family: 'Downcome';
	src: url('../Fonts/ofont.ru_Downcome.ttf');
  }
@font-face {
  font-family: 'Uni Sans';
  src: url('../Fonts/Uni\ Sans\ Thin.otf');
}