*{
	font-family: 'Uni Sans';
	box-sizing: border-box
}
html,
body {
  background-color: black;
  margin: 0px;
}
*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  }
html{
    overflow-x: hidden;
}
a{
	text-decoration: none;
}
	.hr_div, .sec-hr_div{
		width: 80%;
		height: 2px; 
		margin: auto; 
		background: rgb(1,255,0);
        background: linear-gradient(90deg, rgba(1,255,0,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
	}
	.hr_div{
		margin-top: 20px; 
	}
	.sec-hr_div{
		margin-bottom: 20px; 
	}
	@media only screen and (max-width: 500px) {
		.sec-hr_div{
			margin-top: 15px; 
		}
	}
	.footertop1{
		font-size: 55px;
		width: fit-content;
		margin: auto;
		margin-bottom: -10px;
		right: 0;
		left: 0;
		transform: scaleX(1.5) skewX(6deg);
		font-style: italic;
		letter-spacing: 0.5px;
		line-height: 1;
		color: white;
		text-align: center !important;
		font-family: 'Downcome';
		/* padding-top: 100px; */
	}
	.footertop2 {
		margin: auto;
		width: fit-content;
		right: 0;
		left: 0;
		margin-bottom: 40px;
		transform: scaleX(1.5) skewX(6deg);
		font-size: 55px;
		letter-spacing: 0.5px;
		line-height: 1 !important;
		margin-top: 10px;
		font-style: italic;
		color: white;
		text-align: center !important;
		font-family: 'Downcome';
	}

	/* Footers */
	.footerlogoimage{
		width: 90px;
	}
	.publicdoc{
		text-decoration: none;
		font-size: 20px;
		color: white;
	}
	.address {
		font-size: 20px;
		color: white;
	}
	.phonenumber{
		color: white;
		font-size: 20px;
		margin-bottom: 0px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 43px;
		margin: 0 0 0 13px;
		transition: 0.2s;
	}
	.hi-icon:hover {
		transform: scale(0.99);
		border: 2px solid white;
		border-radius: 60px;
		padding: 1.5px;
		transition: 0.2s;
	}
	.footerline{
		width: 80%;
		margin-top: 20px;
	}
	.footer-bottom{
		text-align: center;
		vertical-align: bottom;	
		margin-top: 3%;
	}

	.footer-company-name {
		color: white;
		font-size: 20px;
		font-weight: normal;
		padding-bottom: 15px;
	}

	/* Footer Right */
	.footer-company-about {
		margin-bottom: 1%;
		padding: 0 30px;
		line-height: 1.5; 
		font-size: 15px; 
		color: white; 
		letter-spacing: 2px;
		text-align: center;
	}
	.map {
		position: relative;
		border-top: 50px solid black;
		border-bottom: 20px solid black;
		height: fit-content !important;
	}
@media only screen and (max-width: 1500px) {
	.footertop1{
		font-size: 53px;
	}
	.footertop2{
		font-size: 53px;
	}

	/* Footers */
	.footerlogoimage{
		width: 90px;
	}
	.publicdoc{
		font-size: 19px;
	}
	.address {
		font-size: 19px;
	}
	.phonenumber{
		font-size: 19px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 40px;
		margin: 0 0 0 13px;
	}
}
@media only screen and (max-width: 1450px) {
	.footertop1{
		font-size: 51px;
	}
	.footertop2{
		font-size: 51px;
	}

	/* Footers */
	.footerlogoimage{
		width: 90px;
	}
	.publicdoc{
		font-size: 18px;
	}
	.address {
		font-size: 18px;
	}
	.phonenumber{
		font-size: 18px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 38px;
		margin: 0 0 0 13px;
	}
}
@media only screen and (max-width: 1400px) {
	.footertop1{
		font-size: 49px;
	}
	.footertop2{
		font-size: 49px;
	}

	/* Footers */
	.footerlogoimage{
		width: 90px;
	}
	.publicdoc{
		font-size: 17px;
	}
	.address {
		font-size: 17px;
	}
	.phonenumber{
		font-size: 17px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 36px;
		margin: 0 0 0 13px;
	}
}
@media only screen and (max-width: 1350px) {
	.footertop1{
		font-size: 47px;
	}
	.footertop2{
		font-size: 47px;
	}

	/* Footers */
	.footerlogoimage{
		width: 90px;
	}
	.publicdoc{
		font-size: 16px;
	}
	.address {
		font-size: 16px;
	}
	.phonenumber{
		font-size: 16px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 34px;
		margin: 0 0 0 13px;
	}
}
@media only screen and (max-width: 1300px) {
	.footertop1{
		font-size: 45px;
	}
	.footertop2{
		font-size: 45px;
	}
	/* Footers */
	.footerlogoimage{
		width: 85px;
	}
	.publicdoc{
		font-size: 15px;
	}
	.address {
		font-size: 15px;
	}
	.phonenumber{
		font-size: 15px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 32px;
		margin: 0 0 0 12px;
	}
}
@media only screen and (max-width: 1250px) {
	.footertop1{
		font-size: 43px;
	}
	.footertop2{
		font-size: 43px;
	}

	/* Footers */
	.footerlogoimage{
		width: 83px;
	}
	.publicdoc{
		font-size: 14px;
	}
	.address {
		font-size: 14px;
	}
	.phonenumber{
		font-size: 14px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 31px;
		margin: 0 0 0 12px;
	}
}
@media only screen and (max-width: 1200px) {
	.footertop1{
		font-size: 41px;
	}
	.footertop2{
		font-size: 41px;
	}
	/* Footers */
	.footerlogoimage{
		width: 81px;
	}
	.publicdoc{
		font-size: 13px;
	}
	.address {
		font-size: 13px;
	}
	.phonenumber{
		font-size: 13px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 30px;
		margin: 0 0 0 12px;
	}
}
@media only screen and (max-width: 1150px) {
	.footertop1{
		font-size: 39px;
	}
	.footertop2{
		font-size: 39px;
	}
	/* Footers */
	.footerlogoimage{
		width: 79px;
	}
	.publicdoc{
		font-size: 12px;
	}
	.address {
		font-size: 12px;
	}
	.phonenumber{
		font-size: 12px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 29px;
		margin: 0 0 0 12px;
	}
}
@media only screen and (max-width: 1100px) {
	.footertop1{
		font-size: 37px;
	}
	.footertop2{
		font-size: 37px;
	}
	/* Footers */
	.footerlogoimage{
		width: 77px;
	}
	.publicdoc{
		font-size: 11px;
	}
	.address {
		font-size: 11px;
	}
	.phonenumber{
		font-size: 11px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 28px;
		margin: 0 0 0 12px;
	}
}
@media only screen and (max-width: 1050px) {
	.footertop1{
		font-size: 35px;
	}
	.footertop2{
		font-size: 35px;
	}
	/* Footers */
	.footerlogoimage{
		width: 75px;
	}
	.publicdoc{
		font-size: 10px;
	}
	.address {
		font-size: 10px;
	}
	.phonenumber{
		font-size: 10px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 27px;
		margin: 0 0 0 12px;
	}
}
@media only screen and (max-width: 1000px) {
	.footertop1{
		font-size: 33px;
	}
	.footertop2{
		font-size: 33px;
	}
	/* Footers */
	.footerlogoimage{
		width: 73px;
	}
	.publicdoc{
		font-size: 9px;
	}
	.address {
		font-size: 9px;
	}
	.phonenumber{
		font-size: 9px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 26px;
		margin: 0 0 0 12px;
	}
}
@media only screen and (max-width: 950px) {
	.footertop1{
		font-size: 31px;
	}
	.footertop2{
		font-size: 31px;
	}
	/* Footers */
	.footerlogoimage{
		width: 71px;
	}
	.publicdoc{
		font-size: 8px;
	}
	.address {
		font-size: 8px;
	}
	.phonenumber{
		font-size: 8px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 25px;
		margin: 0 0 0 12px;
	}
}
@media only screen and (max-width: 900px) {
	.footertop1{
		font-size: 29px;
	}
	.footertop2{
		font-size: 29px;
	}
	/* Footers */
	.footerlogoimage{
		width: 69px;
	}
	.publicdoc{
		font-size: 7px;
	}
	.address {
		font-size: 7px;
	}
	.phonenumber{
		font-size: 7px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 24px;
		margin: 0 0 0 12px;
	}
}
@media only screen and (max-width: 850px) {
	.footertop1{
		font-size: 27px;
	}
	.footertop2{
		font-size: 27px;
	}
	/* Footers */
	.footerlogoimage{
		width: 67px;
	}
	.publicdoc{
		font-size: 6.5px;
	}
	.address {
		font-size: 6.5px;
	}
	.phonenumber{
		font-size: 6.5px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 23px;
		margin: 0 0 0 11px;
	}
}
@media only screen and (max-width: 800px) {
	.footertop1{
		font-size: 25px;
	}
	.footertop2{
		font-size: 25px;
	}
	/* Footers */
	.footerlogoimage{
		width: 65px;
	}
	.publicdoc{
		font-size: 7px;
	}
	.address {
		font-size: 7px;
	}
	.phonenumber{
		font-size: 7px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 22px;
		margin: 0 0 0 11px;
	}
}
@media only screen and (max-width: 750px) {
	.footertop1{
		font-size: 23px;
	}
	.footertop2{
		font-size: 23px;
	}
	/* Footers */
	.footerlogoimage{
		width: 63px;
	}
	.publicdoc{
		font-size: 6.5px;
	}
	.address {
		font-size: 6.5px;
	}
	.phonenumber{
		font-size: 6.5px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 20px;
		margin: 0 0 0 10px;
	}
}
@media only screen and (max-width: 700px) {
	.footertop1{
		font-size: 21px;
	}
	.footertop2{
		font-size: 21px;
	}
	/* Footers */
	.publicdoc{
		font-size: 6px;
	}
	.address {
		font-size: 6px;
	}
	.phonenumber{
		font-size: 6px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 18px;
		margin: 0 0 0 9px;
	}
}
@media only screen and (max-width: 650px) {
	.footertop1{
		font-size: 21px;
	}
	.footertop2{
		font-size: 21px;
		margin-bottom: 0;
	}
	.footerlogoimage{
		display: none;
	}

	/* Footers */
	.publicdoc{
		font-size: 22px;
	}
	.address {
		font-size: 22px;
	}
	.phonenumber{
		font-size: 22px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 40px;
		margin: 0 0 0 10px;
	}
}
@media only screen and (max-width: 600px) {
	.footertop1{
		font-size: 19px;
	}
	.footertop2{
		font-size: 19px;
	}

	/* Footers */
	.publicdoc{
		font-size: 20px;
	}
	.address {
		font-size: 20px;
	}
	.phonenumber{
		font-size: 20px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 38px;
		margin: 0 0 0 10px;
	}
}
@media only screen and (max-width: 550px) {
	.footertop1{
		font-size: 17px;
	}
	.footertop2{
		font-size: 17px;
	}

	/* Footers */
	.publicdoc{
		font-size: 18px;
	}
	.address {
		font-size: 18px;
	}
	.phonenumber{
		font-size: 18px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 40px;
		margin: 0 0 0 13px;
	}
}
@media only screen and (max-width: 500px) {
	.footertop1{
		font-size: 15px;
	}
	.footertop2{
		font-size: 15px;
	}

	/* Footers */
	.publicdoc{
		font-size: 16px;
	}
	.address {
		font-size: 16px;
	}
	.phonenumber{
		font-size: 16px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 38px;
		margin: 0 0 0 12px;
	}
	.footer-company-about {
		width: 95%;
		margin: auto;
		font-size: 6px;
	}

	.footer-company-name {
		font-size: 10px;
	}
}
@media only screen and (max-width: 430px) {
	.footertop1{
		font-size: 13px;
	}
	.footertop2{
		font-size: 13px;
	}

	/* Footers */
	.publicdoc{
		font-size: 15px;
	}
	.address {
		font-size: 15px;
	}
	.phonenumber{
		font-size: 15px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 37px;
		margin: 0 0 0 12px;
	}
}
@media only screen and (max-width: 400px) {
	.footertop1{
		width: 65%;
		font-size: 20px;
	}
	.footertop2{
		width: 65%;
		font-size: 20px;
	}
	/* Footers */
	.publicdoc{
		font-size: 14px;
	}
	.address {
		font-size: 14px;
	}
	.phonenumber{
		font-size: 14px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 35px;
		margin: 0 0 0 11px;
	}
}
@media only screen and (max-width: 350px) {
	.footertop1{
		width: 75%;
		font-size: 20px;
	}
	.footertop2{
		width: 60%;
		font-size: 20px;
	}

	/* Footers */
	.publicdoc{
		font-size: 13px;
	}
	.address {
		font-size: 13px;
	}
	.phonenumber{
		font-size: 13px;
	}
	/* Effect 2 */
	.hi-icon {
		width: 34px;
		margin: 0 0 0 10px;
	}
}
@media only screen and (max-width: 325px) {
	.footertop1{
		width: 70%;
		font-size: 20px;
	}
	.footertop2{
		width: 60%;
		font-size: 20px;
	}
}


.footer {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}

.footer_element {
	display: flex;
	width: fit-content;
}
.footer-container{
	width: 100%;
	margin-top: 20px;
	/* padding-top: 50px; */
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 71%, rgba(29, 120, 6, 1) 100%);
}
.footer-bottom {
	color: white;
}

@media only screen and (max-width: 650px) {
	.footer {
		flex-direction: column;
	}
	.footer_element {
		padding: 5px 0 5px 0;
	}
	.footer-company-about {
		font-size: 7px;
		width: 95%;
		margin: auto;
	}
}

@font-face {
	font-family: 'Downcome';
	src: url('../Fonts/ofont.ru_Downcome.ttf');
  }
@font-face {
  font-family: 'Uni Sans';
  src: url('../Fonts/Uni\ Sans\ Thin.otf');
}


main * {
	line-height: 1.5 !important; 
	letter-spacing: 2px;
}