

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	z-index: 99;
	height: 100%;
	}
  #status {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../Videos/Logo_intro_4K\ \(1\).gif);
	background-position: center;
	background-size: 30%;
	background-repeat: no-repeat;
	}
  
  .mydc_video{
	position: relative;
	margin-bottom: -80px;
	text-align: center;
	width: 100%;
	z-index: 2;
  }
  .mydc_video_text{
	width: 60%;
	letter-spacing: normal;
	transform: scaleX(1.5) skewX(4deg);
	font-family: 'Downcome';
	text-shadow: 
	1px -1px 5px #171717, 
	2px -2px 5px #212121, 
	3px -3px 5px #2b2b2b;
	top: 25%;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute; 
	z-index: 999; 
	font-size: 100px;
	opacity: 0;
	font-style: italic;
	animation: anim;
	animation-duration: 5s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
	color: white;
	transition: .7s;
  }
  video {
	position: relative;
	top: -80px;
	left: 0;
	margin: auto;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	z-index: -1;
	opacity: 0;
	animation: anim;
	animation-duration: 5s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
  }
  .view-project-hover {
	opacity: 0;
	width: fit-content;
	letter-spacing: 3px;
	font-weight: bold;
	text-transform: uppercase;
	opacity: 0;
	margin: auto;
	text-align: center;
	font-size: 30px;
	transition: .7s;
	top: 37%;
	left: 0;
	right: 0;
	position: absolute; 
	z-index: 999; 
	color: white;
  }
  
  .mydc_video p:hover+p {
	opacity: 1;
  }
  
  @-webkit-keyframes pulsate {
	50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
  }
  @keyframes pulsate {
	50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
  }
  
  /*preview*/
  @keyframes anim {
	0% {
	  opacity: 0;
	}
  
	100% {
	  opacity: 1;
	}
  }
  
  a {
	text-decoration: none;
	font-size: 25px;
	padding: 10px;
	color: white;
	transition: 1s;
  }

  .hiddenvideo{
	display: none;
  }






  @media only screen and (max-width: 1255px) {
	  .hiddenvideo{
		display: block;
	  }
	  .mydc_video_text{
		top: 40%;
		font-size: 40px;
	  }
	  p.view-project-hover {
		font-size: 10px;
		width: 70%;
		top: 45%;
		right: 0;
		left: 0;
	  }
  }