.content-box-element {
	position: relative;
}

.content-box-element:before, .content-box-element:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	/* background: linear-gradient(45deg, #233329, #63D471, #20BF55, #03e434, #012e05); */
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
  	border-radius: 50px;
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.content-box-element:after {
	filter: blur(50px);
}



body {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: auto;
	/* margin-top: 50px; */
	background-image: url(../Pictures/images/fon_copy.png);
	background-size: 150%;
	background-position: top;
}







.content-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 0;
}

.content-box-element {
	display: flex;
	background-color: black;
	color: silver;
	width: 80%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	/* border: 1px solid white; */
	filter: drop-shadow(53px -33px 35px #000);
	border-radius: 20px;
	height: fit-content;
}

.pic-element {
	width: 60%;
	height: auto;
}

.text-element {
	width: 60%;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.text-element .head-text {
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 30px;
	letter-spacing: normal;
	transform: scaleX(1.5) skewX(4deg);
	font-family: 'Downcome';
	text-shadow: 
	1px -1px 5px #171717, 
	2px -2px 5px #212121, 
	3px -3px 5px #2b2b2b;
	font-style: italic;
	text-align: center;
}

.decsription {
	text-align: justify;
	width: 70%;
	margin: auto;
	font-size: 12px;
	line-height: 2;
}

.content-box-element:nth-child(odd) img {
	width: 100%;
	display: flex;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	height: 380px;
}

.content-box-element:nth-child(even) img {
	width: 100%;
	display: flex;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	height: 380px;
}

.modal-window {
	position: fixed;
	width: 90%;
	left: 5%;
	top: 15%;
	height: fit-content;
	background-color: black;
	border: 3px solid white;
	border-radius: 10px;
	z-index: 1;
}

.close {
	top: 2%;
	right: 2%;
	position: absolute;
	font-size: 40px;
}

button {
	text-align: center;
	margin: auto;
	width: fit-content;
	background: transparent;
	color: silver;
	font-size: 20px;
	padding-top: 10px;
}





@media only screen and (max-width: 600px) {
	.modal-window {
		width: 90%;
		left: 5%;
		top: 5%;
		border-radius: 20px;
	}



	.content-box-element {
		display: flex;
		flex-direction: column;
		width: 90%;
	}

	.pic-element {
		width: 100%;
	}

	.text-element {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
	}

	.content-box-element:nth-child(odd) img {
		border-radius: 20px 20px 0 0 !important;
	}

	.content-box-element:nth-child(even) img {
		border-radius: 0 0 20px 20px !important;
	}

	.text-element .head-text {
		font-size: 25px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.decsription {
		width: 80%;
		font-size: 13px;
		line-height: 1.6;
	}

	.close {
		top: 2%;
		right: 5%;
		position: absolute;
		background-color: black;
		border-radius: 20px;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 40px;
		padding: 0;
	}

	.container .main-video-container .main-video {
		margin-bottom: 10px;
		border-radius: 20px 20px 0 0 !important;
	}

	.container .video-list-container {
		height: 550px;
		padding: 5px;
	}
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
}

.container {
	max-width: 1200px;
	margin: 50px 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 20px;
}

.container .main-video-container {
	flex: 1 1 700px;
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
	/* background-color: #fff; */
	padding: 15px;
}

.container .main-video-container .main-video {
	margin-bottom: 7px;
	border-radius: 5px;
	width: 100%;
}

.container .main-video-container .main-vid-title {
	font-size: 20px;
	color: silver;
}

.container .video-list-container {
	flex: 1 1 350px;
	height: 485px;
	overflow-y: scroll;
	border-radius: 5px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
	/* background-color: #fff; */
	padding: 15px;
}

.container .video-list-container::-webkit-scrollbar {
	width: 10px;
}

.container .video-list-container::-webkit-scrollbar-track {
	/* background-color: #fff; */
	border-radius: 5px;
}

.container .video-list-container::-webkit-scrollbar-thumb {
	background-color: #444;
	border-radius: 5px;
}

.container .video-list-container .list {
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 10px;
	background-color: black;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 10px;
}

.container .video-list-container .list:last-child {
	margin-bottom: 0;
}

.container .video-list-container .list.active {
	background-color: #444;
}

.container .video-list-container .list.active .list-title {
	color: #fff;
}

.container .video-list-container .list .list-video {
	width: 100px;
	height: 50px;
	border-radius: 5px;
}

.container .video-list-container .list .list-title {
	font-size: 17px;
	color: #fff;
}

@media (max-width:1200px) {

	.container {
		margin: 0;
	}

}

@media only screen and (max-width: 600px) {
	.container {
		gap: 0;
		padding-bottom: 30px;
	}

	.container .main-video-container .main-video {
		margin-bottom: 10px;
		border-radius: 50px 50px 0 0 !important;
		height: 250px !important;
	}

	.container .video-list-container {
		height: 450px;
		padding: 5px;
	}
}

@media only screen and (max-width: 400px) {
	.container {
		gap: 0;
		padding-bottom: 30px;
	}

	.container .main-video-container .main-video {
		margin-bottom: 10px;
		border-radius: 50px 50px 0 0 !important;
	}

	.container .video-list-container {
		height: 250px;
		padding: 5px;
	}
}



.pic-element {
	display: flex;
    align-items: center;
	position: relative;
	overflow: hidden;
}

.pic-element img {
    width: 100% !important;
	object-fit: cover;
    /* height: auto !important; */
    /* position: absolute; */
}


@media only screen and (min-width: 600px) {
	.pic-element:nth-child(odd) img {
		-webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
		mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
	}
	.pic-element:nth-child(even) img {
		-webkit-mask-image: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
		mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
	}
}