.cssSlider {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
    background-image: url(../Pictures/abonsbackground.jpg);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}
.cssSlider .slides {
	overflow: hidden;
	overflow: hidden;
	width: 100%;
	height: 80vmin;
	margin: 0;
	margin-top: 50px;
	padding: 0;
	list-style: none;
	text-align: center;
}
.cssSlider .slides > li {
	width: 100%;
	height: 80vmin;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}
.cssSlider .slides > li > img {
	width: 60%;
	left: 0;
	right: 0;
}
/*
.cssSlider .slides > li:first-child:not(:target) {
	z-index: 1;
	-webkit-transform: translateY(0%);
	        transform: translateY(0%);
}
*/
.cssSlider .thumbnails {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}
.cssSlider .thumbnails > li {
    text-align: center;
	display: inline-block;
	margin: 10px;
	/* width: 5%; */
}
.cssSlider .thumbnails > li > a {
	display: block;
}
.cssSlider .thumbnails > li > a > img {
	width: 100%;
	height: auto;
}

.cssSlider .slides li:target {
	z-index: 3;
	-webkit-animation: slide 1s 1;
}
/* .cssSlider .slides li:not(:target):nth-child(1) {
    opacity: 1;
	-webkit-animation: hidden 1s 1;
} */
.cssSlider .slides li:not(:target) {
    opacity: 0;
	-webkit-animation: hidden 1s 1;
}
@keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
        opacity: 1;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}



@media only screen and (max-width: 500px) {
	.cssSlider .slides {
		overflow: hidden;
		overflow: hidden;
		width: 100%;
		height: 80vmin;
		margin: 0;
		margin-top: 50px;
		padding: 0;
		list-style: none;
		text-align: center;
	}
	.cssSlider .slides > li {
		width: 100%;
		height: 80vmin;
		position: absolute;
		z-index: 1;
		overflow: hidden;
	}
	.cssSlider .slides > li > img {
		width: 100%;
		left: 0;
		right: 0;
	}
	/*
	.cssSlider .slides > li:first-child:not(:target) {
		z-index: 1;
		-webkit-transform: translateY(0%);
				transform: translateY(0%);
	}
	*/
	.cssSlider .thumbnails {
		display: block;
		position: relative;
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: center;
	}
	.cssSlider .thumbnails > li {
		text-align: center;
		display: inline-block;
		margin: 10px;
		/* width: 5%; */
	}
}